#changing-imgs {
    position: relative;
    margin:0 auto;
    left: -40vw;
    top: -11vh;
  }
  #changing-imgs img {
    position: absolute;
    height: 50vh;
    transition: opacity 1s ease-in-out;
  }
  
  #changing-imgs img.transparent {
  opacity:0;
  }
    @keyframes changing-imgsFadeInOut {
    0% {
    opacity:0;
    }
    10% {
      opacity:1;
    }
    30% {
      opacity:1;
    }
    36% {
      opacity:0;
    }
    70% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }
  
  #changing-imgs img {
        animation-name: changing-imgsFadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 50;
        animation-duration: 15s;
        animation-direction: alternate;
  }
  #changing-imgs img:nth-of-type(1) {
    animation-delay: 0s;
  }
  #changing-imgs img:nth-of-type(2) {
    animation-delay: 5s;
  }
  #changing-imgs img:nth-of-type(3) {
    animation-delay: 10s;
   } 
  #changing-imgs img:nth-of-type(4) {
    animation-delay: 15s;
   } 



   @media screen and (max-width: 500px) {
    #changing-imgs{
      visibility: hidden;
    }
 }

  