#changing-imgs {
    position: block;
    /* margin:0 auto; */
  }
  #changing-imgs img {
    /* background-color: hotpink; */
    display: inline;
    bottom: 0;
    position: absolute;
    height: 100%;
    left: 0;
    /* top:5.8vw; */
    bottom: 0;
    padding: 0; 
    transition: opacity 1s ease-in-out;
    overflow-y: hidden;
    z-index: 0;
  }
  

   @media screen and (max-width: 689px) {
    #changing-imgs{
      visibility: hidden;
    }
 }

  