:root {
    /* colors */
    --secondary-color: #58c93a;
    --info-color: rgb(70, 128, 204);
    --main-nav-color: #292929;
    --special-btn: rgb(139, 179, 199);
    --main-color: #4c96d7;
    --seconed-color: #9e9e98;
    /* Fonts */
}